@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: "Pretendard-Regular";
  overflow-x: hidden;
}

::selection {
  background: #a3a3a3;
  color: #000000;
}

.style {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #e5e5e5;
}
.style:hover {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  cursor: pointer;
  fill: #a3a3a3;
}
.styleClick {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #a3a3a3;
  cursor: pointer;
}

.PM10map01 {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #fed7aa;
}

.PM10map02 {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #fb923c;
}

.PM10map03 {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #ea580c;
}

.tPM10map04 {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #9a3412;
}
